html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.mdc-dialog .mdc-dialog__content {
    @apply text-gray-900;
}

.link {
    &:hover {
        @apply underline;
    }
}
