@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
    url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nyala';
    src: url('../fonts/Nyala-Regular.woff2') format('woff2'),
    url('../fonts/Nyala-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pirata One';
    src: url('../fonts/PirataOne-Regular.woff2') format('woff2'),
    url('../fonts/PirataOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

