html {

}

html, body {
    @apply font-default leading-normal tracking-normal text-white;
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}

h1, h2, h3 {
    @apply font-title #{!important};
}

.link {
    @apply underline text-black cursor-pointer duration-200 transition-colors;
    &:hover {
        @apply text-black2-75;
    }

    &.text-white {
        color: white;

        &:hover {
            @apply text-white2-75;
        }
    }
}

button:focus {
    outline: none;
}

[v-cloak] {
    display: none;
}

.gradient {
    background-image: linear-gradient(19deg, #bc1212, #000);
}

.wave-mask {
    mask: url(../img/wave-mask.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top;
}

.wave-mask-reverse {
    mask: url(../img/wave-mask-reverse.png);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: bottom;
}
