html, body {
    color: #fff;
    font-family: 'Nyala', sans-serif;
    font-weight: 200;
    font-size: 18px;
    height: 100vh;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Pirata One', 'Nyala', sans-serif !important;
}

body {
    background-color: #000;
    background-image: url('../img/background-lowres.jpg');
    background-size: cover, cover;
    background-position: center, center;
    background-attachment: fixed, fixed;
}

.logo {
    @apply fixed mt-4 z-5;
    left: 50%;
    margin-left: -125px;
}

.link {
    &:hover {
        @apply underline;
    }
}

button:focus {
    outline: none;
}

[v-cloak] {
    display: none;
}

.fade-enter-active {
    transition: opacity .3s;
}

.fade-enter {
    opacity: 0;
}

.rotate-0 {
    transform: rotate(0);
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.-rotate-180 {
    transform: rotate(-180deg);
}

.-rotate-90 {
    transform: rotate(-90deg);
}

.-rotate-45 {
    transform: rotate(-45deg);
}
