#storyline {
    text {
        font-family: 'Pirata One', 'Nyala', sans-serif;
        fill: white;
    }

    text.label {
        font-size: 10px;
    }

    &.storyline-fh text.label {
        font-size: 46px;
    }

    .line {
        fill: none;
    }

    .arrow {
        fill: white;
    }

    .line, .arrow {
        stroke: white;
    }

    .scenario {
        cursor: pointer;
    }

    .node {
        fill: black;
        stroke: white;
    }

    .node ~ .blocked {
        font-size: 16px;
        font-family: Arial, sans-serif;
        transform: translate(-10px, -5px);
    }

    .node ~ .require {
        font-size: 12px;
        font-weight: bold;
        transform: translate(-7px, -5px);
    }

    // The following is a hack to fix the positioning of the nodes in the storyline
    &.storyline-gh, &.storyline-fc, &.storyline-jotl, &.storyline-cs {
        .node {
            transform: translate(-10.8px, 0);
        }

        .node + text {
            font-size: 11px;
            transform: translate(0px, 9px);
        }
    }

    &.storyline-fh {
        .node + text {
            transform: translate(0px, 4px);
        }
    }

    .scenario {
        &.incomplete {
            stroke-width: 2;

            .node {
                stroke: $complete;
            }
        }

        &.blocked {
            .node {
                stroke: $incomplete;

                ~ .blocked {
                    fill: $incomplete;
                }
            }
        }

        &.required {
            .node {
                stroke: $required;

                ~ .required {
                    fill: $required;
                }
            }
        }
    }

    .legend .scenario {
        cursor: default;
    }
}
