.caption-side-b {
    caption-side: bottom;
}

.grayscale {
    filter: grayscale(100);
}

@for $i from 0 through 100 {
    .order-#{$i} {
        order: $i;
    }
}

@include media() using($screen) {
    .#{$screen}\:order-0 {
        order: 0;
    }
}

.aspect-card {
    aspect-ratio: 1/1.5;
}

.aspect-stacked-card {
    aspect-ratio: 1/.25;
    overflow-y: hidden;
}

div.hover\:shadow-white:hover {
    --tw-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@include characters() using($character, $color) {
    .border-character-#{$character} {
        border-color: $color;
    }

    .text-character-#{$character} {
        color: $color;
    }
}

@for $i from 6 through 10 {
    .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
}
