$safe-area-inset-top: env(safe-area-inset-top, 0);
$safe-area-inset-right: env(safe-area-inset-right, 0);
$safe-area-inset-bottom: env(safe-area-inset-bottom, 0);
$safe-area-inset-left: env(safe-area-inset-left, 0);

.top-area-inset {
    top: $safe-area-inset-top;
}

.mt-area-inset {
    margin-top: $safe-area-inset-top;
}

.right-area-inset {
    right: $safe-area-inset-right;
}

.mr-area-inset {
    margin-right: $safe-area-inset-right;
}

.bottom-area-inset {
    bottom: $safe-area-inset-bottom;
}

.mb-area-inset {
    margin-bottom: $safe-area-inset-bottom;
}

.left-area-inset {
    left: $safe-area-inset-left;
}

.ml-area-inset {
    margin-left: $safe-area-inset-left;
}
