@tailwind base;

@tailwind components;

@import "colors";
@tailwind utilities;
@import "utilities";

@import '~tippy.js/dist/tippy.css';

@import "fonts";

@import "main-app";

@import "story";

@import "animations";

@import "components/button";
@import "components/scrollbar";
